@mixin ib() {
    display: inline-block;
    *display: inline;
    zoom: 1;
}

@mixin linear-gradient($direction, $color-stops...) {
    @if is-direction($direction) == false {
        $color-stops: $direction, $color-stops;
        $direction: 180deg;
    }

    background: nth(nth($color-stops, 1), 1);
    background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
    background: linear-gradient($direction, $color-stops);
}

@mixin breakpoint($size, $target: max-width) {
    @if map-has-key($breakpoints, $size) {
        @media screen and (#{$target}: #{map-get($breakpoints, $size)}px) {
            @content;
        }
    } @else {
        @media screen and (#{$target}: #{$size}) {
            @content;
        }
    }
}